<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="indexStyles.css">
    <title>Home</title>
  </head>

  <body>
    <div class="content2">
        <form action="/logout" method="POST">
        <div><h3>Welcome</h3></div>
        <div><p>You have entered to the web page <%= count %> time(s)</p></div>
        <div class="logout"><button type="submit" id="btn" name="button">Logout</button></div>
    </form>
        
    </div>

    
  </body>
</html>
