<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="indexStyles.css">
    <title>Login</title>
</head>

<body>
    <div class="content">
        <div class="picture"><img src="imgleft.jpg" class="logimg" alt="Login ClipArt"></div>
        <div class="logform">
            <form action="/login" method="POST">
                <div class="heading">
                    <div class="alternatives">
                        <div>
                            <P class="header"><b>Sign in with</b></P>
                        </div>
                        <div class="icbox"><a href="####"><img src="facebook_32.png" class="icon" alt="Facebook"></a>
                        </div>
                        <div class="icbox"><a href="####"><img src="twitter_32.png" class="icon" alt="Twitter"></a>
                        </div>
                        <div class="icbox"><a href="####"><img src="linkedin_32.png" class="icon" alt="LinkedIn"></a>
                        </div>
                    </div>
                    <p class="header"><b>Or</b></p>
                </div>

                <div class="username">
                    <input type="email" id="email" name="email" placeholder="Email address" required>
                </div>
                <div class="pswd">
                    <input type="password" id="pwd" name="password" placeholder="Password" required>
                </div>
                <div class="popt">
                    <div class="remember">
                        <label for="rememberme">Remember me</label>
                        <input type="checkbox" id="rememberme" value="" class="chkbx">
                    </div>
                    <div class="forgot">
                        <a href="####" class="forgotten">Forgot password?</a>
                    </div>
                </div>
                <div class="login">
                    <button type="submit" id="btn" name="button">Login</button>
                </div>
                <div class="newuser">
                    <p class="signup"><b>Don't have an account? <a href="####" class="reg">Register</b></a></p>
                </div>
            </form>
        </div>
    </div>

</body>

</html>